{% extends "_layout.twig" %}

{% block content %}
{{description}}
<div>

   <ul class="nav nav-pills">
   <li class="nav-item">
    <a class="me-3" href="/gouse-object/{{idd}}/?show=image">Изображение</a>
    <a  href="/gouse-object/{{idd}}/?show=info">Описание</a>
   </li>
    </ul> 


  </div>
{% block objectContent %}
{% endblock %}

{% endblock %}